<table #usersTable cdk-table [dataSource]="dataSource" aria-label="User Table" vnfTable>
  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container cdkColumnDef="email">
    <th cdk-header-cell *cdkHeaderCellDef>Email</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container cdkColumnDef="phone">
    <th cdk-header-cell *cdkHeaderCellDef>Phone</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <!-- Address Column -->
  <ng-container cdkColumnDef="address">
    <th cdk-header-cell *cdkHeaderCellDef>Address</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.address }}</td>
  </ng-container>

  <!-- Role Column -->
  <ng-container cdkColumnDef="role">
    <th cdk-header-cell *cdkHeaderCellDef>Role</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
