<nav class="h-full w-full flex flex-row justify-between items-center px-4 bg-gray-50 border-gray-200 border-b-[1px]">
  <p class="text-2xl font-bold">Portal</p>

  <button class="fa-solid fa-universal-access text-2xl text-gray-600" [cdkMenuTriggerFor]="menu"></button>
</nav>

<ng-template #menu>
  <div class="flex flex-col gap-4 p-4 bg-gray-50 border-gray-200 border-[1px] rounded-md" cdkMenu>
    <button *ngIf="!currentUser()" class="text-left" cdkMenuItem [routerLink]="['/sign-in']">Sign in</button>

    <ng-container *ngIf="currentUser()">
      <button class="text-left" cdkMenuItem>{{ currentUser().name }} | {{ currentUser().role | uppercase }}</button>
      <button class="text-left" cdkMenuItem>Settings</button>
      <button class="text-left" cdkMenuItem (click)="signOut()">Sign out</button>
    </ng-container>
  </div>
</ng-template>
