<div class="h-full w-full p-4 flex flex-col justify-center items-center gap-4">
  <h1 class="text-4xl font-medium">Sign In</h1>

  <form class="flex flex-col justify-center items-center gap-4" [formGroup]="signInForm" (submit)="onSubmit()">
    <div class="flex flex-col justify-center items-center">
      <label for="username" vnfLabel label="Username" required></label>
      <p
        *ngIf="signInForm.dirty && signInForm.get('username')?.touched && signInForm.get('username')?.errors?.['required']"
        vnfErrorMessage
        errorMessage="Username is required."
      ></p>
      <input type="text" name="username" id="username" autocomplete="off" formControlName="username" autofocus required vnfInput />
    </div>

    <div class="flex flex-col justify-center items-center">
      <label for="password" vnfLabel label="Password" required></label>
      <p
        *ngIf="signInForm.dirty && signInForm.get('password')?.touched && signInForm.get('password')?.errors?.['required']"
        vnfErrorMessage
        errorMessage="Username is required."
      ></p>
      <input type="password" name="password" id="password" autocomplete="off" formControlName="password" required vnfInput />
    </div>

    <div class="flex flex-col justify-center items-center">
      <button type="submit" vnfButton btnType="primary">Sign In</button>
    </div>
  </form>
</div>
