<div class="h-full w-full p-4 flex flex-col justify-center items-center gap-4">
  <h1 class="text-4xl font-medium">Sign In</h1>

  <p class="vnf-notification --error" *ngIf="errorMessage()">{{ errorMessage() }}</p>

  <form class="flex flex-col justify-center items-center gap-4" [formGroup]="signInForm" (submit)="onSubmit()">
    <section class="flex flex-col justify-center items-start">
      <label for="username" class="vnf-label --required">Username:</label>
      <input class="vnf-input" type="text" name="username" id="username" autocomplete="off" formControlName="username" autofocus required />
      <p class="vnf-error-message" *ngIf="signInForm.dirty && signInForm.get('username')?.touched && signInForm.get('username')?.errors?.['required']">Username is required.</p>
    </section>

    <section class="flex flex-col justify-center items-start">
      <label for="password" class="vnf-label --required">Password:</label>
      <input class="vnf-input" #inputPassword type="password" name="password" id="password" autocomplete="off" formControlName="password" required />
      <p class="vnf-error-message" *ngIf="signInForm.dirty && signInForm.get('password')?.touched && signInForm.get('password')?.errors?.['required']">Password is required.</p>
    </section>

    <section class="self-start">
      <input class="vnf-input" type="checkbox" id="show-hide-password" name="show-hide-password" vnfInput inputType="checkbox" (click)="showHidePassword()" />
      <label for="showHidePassword" class="vnf-label">&nbsp;Show Password</label>
    </section>

    <section class="flex flex-col justify-center items-center">
      <button class="vnf-button --primary" type="submit">Sign In</button>
    </section>
  </form>
</div>
